<div class="row mx-auto">
    <div class="col">
        <img src="../../../assets/images/twitter.png" class="twitter-png">
    </div>
    <div class="col">
        <img src="../../../assets/images/instagram.png" class="instagram-png">
    </div>
    <div class="col">
        <img src="../../../assets/images/net.png" class="net-png">
    </div>
    <div class="col">
        <img src="../../../assets/images/linked in.png" class="linked-in-png">
    </div>
    <div class="col">
        <img src="../../../assets/images/cat.png" class="cat-png">
    </div>
    <div class="col">
        <img src="../../../assets/images/fb.png" class="fb-png">
    </div>
</div><br><br>