.twitter-png {
    height: 20px;
    margin-left: 60px;
    width: auto;
}

.instagram-png {
    height: 25px;
    margin-left: -6px;
    width: auto;
}

.net-png {
    height: 20px;
    margin-left: -13px;
    width: auto;
}

.linked-in-png {
    height: 23px;
    margin-left: -23px;
    width: auto;
}

.cat-png {
    height: 28px;
    margin-left: -27px;
    width: auto;
}

.fb-png {
    height: 20px;
    margin-left: -27px;
    width: auto;
}