<div class="row mx-auto">
    <div class="col fs-6">
        <p class="text-light text-center">A kiddo who uses <span
                class="text-warning">Bootstrap</span> and <span class="text-warning">Laravel</span>
            in Web Development. Currently playing around with <br>design via Figma.</p>
    </div>
</div><br>

<div class="row text-center">
    <div class="col"><button type="button"
            class="email-btn border-0 rounded text-light">mafazmafs0206@gmail.com</button>
    </div>
</div><br>